/* Header styles */
h1{
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

section{
  padding: 1rem 3rem;
}

.main-content{
  max-width: 800px;
  margin: 0 auto;
}

/* Navbar styles */
.navbar {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 1.2rem 1.5rem;
}

.navbar-logo {
  color: #e6345a;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.navbar-links li a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s, border  0.2s;
  border: 1px solid transparent;
}

.navbar-links li a:hover {
  background: #ffffff;
  color: #e6345a;
  border-radius: 4px;
  border: 1px solid #e6345a;
}

/* Login Section */
.login-status {
  margin-top: 8px;
  color: #555;
}

/* Calendar List Section */
.calendar-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.calendar-list > * {
  margin-bottom: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}